
#resultMonty {
    margin-top: 20px;
    font-size: 1.2em;
}
.btn{
  padding: 10px 20px;
  cursor: pointer;
  border: solid 1px #b9b9b9;
  border-radius: 4px;
  font-size: 16px;
}
.btn:hover{
  background-color: #d2d2d2;
}

